/**
 * Import font from google font
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");

/**
 * Define color variables
 */

$--color-background-dark: #081229;
$--color-black: #111;
$--color-white: #fff;
$--color-secondary: #09d3ac;
$--color-light-dark: #191d3a;

/**
 * Global Css
 */

html {
    font-size: 10px;
}

body {
    background-color: $--color-background-dark;
    color: $--color-white;
    margin: 0;
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * Margin
 */

 .m{
     /**
      * margin top
      */
    &t{
        &-5{
            margin-top: 5rem;
        }

        &-10{
            margin-top: 10rem;
        }
    }
 }

/**
 * Header Css
 */

h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/**
 * Text Css
 */

p {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.04em;
}

a {
    color: $--color-white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

label {
    font-size: 1.6rem;
}

/**
 * Basic Layout
 */

.container {
    max-width: 980px;
    margin: auto;
}