/**
 * Post card Css
 */

.postCard {
    margin-top: 50px;
    margin-bottom: 50px;

    &__link {
        display: inline-block;
        color: $--color-secondary;
        position: relative;
    }

    &__link::after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: solid 1px $--color-secondary;
        transition: width 0.5s ease;
        overflow: hidden;
        margin-top: 5px;
    }

    &__link:hover::after {
        width: 100%;
        transition: width 0.5s ease;
    }
}
