/**
 * Import font from google font
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");

/**
 * Define color variables
 */

$--color-background-dark: #081229;
$--color-white: #fff;
$--color-secondary: #09d3ac;
$--color-light-dark: #1E2125;

/**
 * Global Css
 */

html {
    font-size: 10px;
}

body {
    background-color: $--color-background-dark;
    color: $--color-white;
    margin: 0;
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * Header Css
 */

h2 {
    font-size: 3rem;
}

/**
 * Text Css
 */

p {
    font-size: 1.6rem;
}

a {
    color: $--color-white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
}

/**
 * Basic Layout
 */

.container {
    max-width: 980px;
    margin: auto;
}

/**
 * Post card Css
 */

.postCard__link{
    display: inline-block;
    color: $--color-secondary;
    position: relative;
}

.postCard__link::after{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: solid 1px $--color-secondary;
    transition: width .5s ease;
    overflow: hidden;
}

.postCard__link:hover::after{
    width: 100%;
    transition: width .5s ease;
}

/**
 * Header Css
 */



